@{
    ViewBag.Title = "Error";
}

<div style=" padding:20px;">
    <h3>
        Application Error:
    </h3>
    <h4>
        Sorry, an error occurred while processing your request.
    </h4>
    <h6>@Html.ActionLink("Go Back To Date Calculator Page", "DateCalculator", "DateCalculator")</h6>
    <br />
    <br />
</div>
