@{
    ViewBag.Title = "Contact me";
}

<div class="container" style="padding-bottom: 10px;">
    <div class="border-bottom">
        <h3>Contact me</h3>
    </div>

    <div class="row">
        <div style="padding-top: 10px;">
            <div class="col-md-1" style="padding-top: 5px;">

                @*<label class="h4">This application is designed and maintained by Prateek Gangwar</label>*@

                <div style="width: 90px; height: 90px; border-radius: 60px;">
                    <img src="~/images/me.jpg" alt="Prateek Gangwar" style="width: 90px; height: 90px; border-radius: 60px;" />
                </div>
            </div>
            <div class="col-md-11">
                <label class="h4">
                    I'm <label style="color: #23527C">Prateek Gangwar</label> . I work as software engineer with over 5 years experience in the tech industry and have worked with startups and SMB’s in areas such as healthcare, recruitment and e-commerce.
                    <br /><br />
                    I'm available for consulting. Just drop me a message on <a style="font-size: 18px" target="_blank" href="https://www.linkedin.com/in/prateek-gangwar-1a5479103">linkedin.</a>
                </label>

                @*<br/> <br/>

                    <label class="h4">Contact me on linkedin-</label>
                    <a style="font-size: 18px" target="_blank" href="https://www.linkedin.com/in/prateek-gangwar-1a5479103">Prateek Gangwar</a>*@

            </div>


        </div>
    </div>
</div>
